#article-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .text {
    display: flex;
    justify-content: space-around;
  }
  .bg-container {
    width: 100%;
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      max-width: 65em;
    }
  }
  .contentT-left,
  .contentT-right {
    color: white;
  }
  .contentT-right p {
    font: {
      weight: 600;
      size: 1.1em;
    }
  }
  .contentT-left p {
    width: 10em;
    opacity: 20%;
    text-align: center;
  }
}

.carousel {
  display: flex;
  justify-content: center;
  .carousel-item p {
    color: $text-color;
  }
}
.card {
  background-color: $card-color;

  h5 {
    color: white;
  }
  a {
    color: white;
  }
}
